@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --wallpaper: #191b1d;
    --wallpaper-lines: #212223;
    --wallpaper-lines-sizes: 1rem 1rem;

    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;

    --slide-height: 8rem;
    --slide-spacing: 0rem;
    --background: 210, 7%, 11%;
    --foreground: 210, 6%, 20%;
    --secondary: 231, 6%, 50%;
    --primary: 231, 6%, 50%;
    --primary-foreground: 220, 100%, 97%;
    --success: 13%, 77%, 37%, 1;
    --destructive: 0, 100%, 50%;
    --popover: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  html {
    font-size: calc(1vw + 3px);
    line-height: calc(1vw + 3px);
  }

  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;

    .wallpaper {
      background-color: var(--wallpaper);
      background-size: var(--wallpaper-lines-sizes);
      background-image: linear-gradient(var(--wallpaper-lines), 0.1em, transparent 0),
        linear-gradient(90deg, var(--wallpaper-lines), 0.1em, transparent 0);
    }
  }
}
