@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --wallpaper-lines: #212223;
    --wallpaper-lines-sizes: 1rem 1rem;
    --wallpaper: #191b1d;

    --cursor-size: 26px;
    --cursor-border: 2px solid #fff;
    --cursor-bg: #fff;
    --cursor-blend-mode: difference;
    --cursor-opacity: 1;
    --cursor-transition: transform 0.1s ease-out, opacity 0.3s ease-in-out, width 0.3s ease,
      height 0.3s ease, top 0.3s ease, left 0.3s ease;

    --slide-height: 8rem;
    --slide-spacing: 0rem;
    --background: 210, 7%, 11%;
    --foreground: 210, 6%, 20%;
    --secondary: 231, 6%, 50%;
    --primary: 231, 6%, 50%;
    --primary-foreground: 220, 100%, 97%;
    --success: 13%, 77%, 37%, 1;
    --destructive: 95%, 25%, 26%, 1;
    --popover: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;

    cursor: crosshair;

    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-size: var(--wallpaper-lines-sizes);
    background-color: var(--wallpaper);
    background-image: linear-gradient(var(--wallpaper-lines), 0.1em, transparent 0),
      linear-gradient(90deg, var(--wallpaper-lines), 0.1em, transparent 0);

    .cursor-circle {
      position: fixed;
      border: var(--cursor-border);
      border-radius: 100%;
      background-color: var(--cursor-bg);
      mix-blend-mode: difference;
      opacity: var(--cursor-opacity);
      pointer-events: none;
      transition: var(--cursor-transition);
      z-index: 10000;
    }

    .hidden-circle {
      opacity: 0;
    }
  }
}
