node_modules
dist
out
.DS_Store
*.log*
.vscode
.idea

logs
yarn.lock
package-lock.json
Scenario.md
electron.vite.config.*.mjs
.aider*

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