#debug-portal {
  position: fixed;
  top: 50%;
  right: -17rem;
  width: 20rem;
  height: 15rem;
  background-color: white;
  opacity: 0.5;
  z-index: 100000;
  transform: translateY(-50%);
  transition: right 0.3s ease-in-out;
}

#debug-portal:hover {
  right: 0;
}
